body {
    font-family: "Gamja Flower", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #dfdfdf;
}

p {
    font-size: 120%;
}

#book .cover {
    background-color: #000;
}

#hyunmi {
    background-color: #000;
}

#hyunmi a {
    color: white;
}

#blossom a {
    font-family: Arial, Helvetica, sans-serif;
}

#helia a {
    font-family: Arial, Helvetica, sans-serif;
}

#switch-font {
    font-family: Arial, Helvetica, sans-serif;
}